body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
